<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <!-- Android 11+ hides intent handlers unless the app declares what it queries. -->
    <queries>
        <intent>
            <action android:name="android.service.wallpaper.LIVE_WALLPAPER_CHOOSER" />
        </intent>
        <intent>
            <action android:name="android.service.wallpaper.CHANGE_LIVE_WALLPAPER" />
        </intent>
        <intent>
            <action android:name="android.settings.WALLPAPER_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SET_WALLPAPER" />
        </intent>
        <intent>
            <action android:name="android.service.wallpaper.WallpaperService" />
        </intent>
        <package android:name="com.android.wallpaper.livepicker" />
        <package android:name="com.android.thememanager" />
        <package android:name="com.miui.miwallpaper" />
        <package android:name="com.miui.android.fashiongallery" />
        <package android:name="com.google.android.apps.wallpaper" />
    </queries>

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HologramPreviewActivity"
            android:exported="false"
            android:label="Просмотр превращения"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WallpaperDiagnosticsActivity"
            android:exported="false"
            android:label="Диагностика установки обоев" />

        <service
            android:name=".ParallaxWallpaperService"
            android:exported="true"
            android:label="@string/wallpaper_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>
    </application>

</manifest>
